:root {
    --logo-green: #10d15a;
    --logo-gray: #676767;
    --logo-yellow: #ffff64;
    --logo-blue: #2b22e3;
    --accent1-color: #1a1a1a;
}
body {
    font-family: Calibri, 'Trebuchet MS', sans-serif;
}
header {
    position: relative;
    top: 0; left: 0;
    width: 100%;
    height: 50px;
    background-color: var(--logo-green);
    box-shadow: 0 0 10px var(--logo-gray);
}
header img {
    position: relative;
    max-height: 50px;
    transition: all 0.5s;
    z-index: 11;
}
header h1 {
    font-family: 'Trebuchet MS', sans-serif;
    position: absolute;
    top: 0; left: 0;
    margin: 0;
    color: var(--accent1-color);
    letter-spacing: -15px;
    padding: 6.5px;
    padding-right: 15px;
    opacity: 0;
    transition: all 0.5s;
    z-index: 10;
}
header img:hover + h1, header h1:hover {
    letter-spacing: -1px;
    padding-left: 50px;
    background: rgba(255,255,255,0.5);
    opacity: 1;
}
header h1:hover, header img:hover {
    cursor: pointer;
}
footer {
    position: absolute;
    width: calc(100% - 1em);
    bottom: 0; left: 0;
    padding: 0.5em;
    background: var(--logo-gray);
}


body {
    margin: 0;
    padding: 0;
}
#start {
    position: absolute;
    top: 0; left: 0;
    margin: 0;
    padding: 0;
    width: calc(100%);
    height: calc(100%);
    background-image: url("/images/home-cover-background.jpg");
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#start > .clear-cover {
    position: absolute;
    display: table;
    top: 0; left: 0;
    width: calc(100%);
    height: calc(100%);
    background-image: linear-gradient(to bottom, rgba(50,50,50,0.4), rgba(0,0,0,0.4));
}
#start > .clear-cover > div {
    display: table-cell;
    vertical-align: middle;
}
#start > .clear-cover > div > .first-box > div {
    display: flex;
    width: 330px;
}
#start > .clear-cover > div > .first-box > div > h1 {
    color: white;
    padding-bottom: 15px;
}
#start > .clear-cover > div > .first-box > div > img {
    padding-top: 10px;
    width: 60px;
    height: 60px;
}
.first-box {
    position: relative;
}
.second-box {
    padding-top: 20px;
}
a.button {
    padding: 1em;
    color: black;
    background: #F5F5F5;
    border: solid 1px gray;
    border-radius: 5px;
    text-decoration: none;
}
a.button:hover {
    background: #e6e6e6;
}