:root {
    --logo-green: #10d15a;
    --logo-gray: #676767;
    --logo-yellow: #ffff64;
    --logo-blue: #2b22e3;
    --accent1-color: #1a1a1a;
}
body {
    font-family: Calibri, 'Trebuchet MS', sans-serif;
}
header {
    position: relative;
    top: 0; left: 0;
    width: 100%;
    height: 50px;
    background-color: var(--logo-green);
    box-shadow: 0 0 10px var(--logo-gray);
}
header img {
    position: relative;
    max-height: 50px;
    transition: all 0.5s;
    z-index: 11;
}
header h1 {
    font-family: 'Trebuchet MS', sans-serif;
    position: absolute;
    top: 0; left: 0;
    margin: 0;
    color: var(--accent1-color);
    letter-spacing: -15px;
    padding: 6.5px;
    padding-right: 15px;
    opacity: 0;
    transition: all 0.5s;
    z-index: 10;
}
header img:hover + h1, header h1:hover {
    letter-spacing: -1px;
    padding-left: 50px;
    background: rgba(255,255,255,0.5);
    opacity: 1;
}
header h1:hover, header img:hover {
    cursor: pointer;
}
footer {
    position: absolute;
    width: calc(100% - 1em);
    bottom: 0; left: 0;
    padding: 0.5em;
    background: var(--logo-gray);
}